# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.myapp/
venv/
env/

# Git
.git/
.gitignore

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Environment variables
.env

# Node (if any frontend)
node_modules/

# Tests / temp
*.sqlite3
